{% load static %}
<div class="slider">
    <div class="slide-track">
        {% comment %} LA CANTIDAD DE CATEGORIAS ES EL DOBLE {% endcomment %}
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
            <h3>NombreCategoria</h3>   

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>

        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
        <div class="slide text-center">
            <a >
                <div class='category-img'>
                    <img src="{% static 'img/category.png' %}">
                </div>
            </a>
                <h3>NombreCategoria</h3>

        </div>
    </div>
</div>